@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Open+Sans:ital@1&family=Roboto:ital,wght@1,300&display=swap");
body {
  display: grid;
  place-items: center;
}
* {
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 600px;
  height: 600px;
  background-color: rgb(143, 92, 194);
  border: black 2px solid;
  position: relative;
}
.container > *:not(.particle) {
  opacity: 0;
}
.headerText {
  width: 55%;
  display: block;
  margin-inline: auto;
  transform: translateY(100%);
  text-align: center;
  font-size: 2em;
  color: rgb(74, 18, 138);
}
.titleContainer {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleContainer p {
  text-align: center;
  color: white;
  font-size: 58px;
  line-height: 1px;
  font-weight: 600;
  margin-block: 40px;
  transform: scale(1.1);
}
.particle {
  display: inline-block;
  position: absolute;
  margin: 20px;
  transform: scale(0);
}
.halfCircleAqua {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid transparent;
  border-left: aqua 10px solid;
}
.halfCircleBlue {
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid transparent;
  border-left: rgb(79, 161, 194) 10px solid;
}
.rectangleAqua {
  width: 10px;
  height: 40px;
  background-color: aqua;
}
.rectangleDark {
  /* width: 7px; */
  width: 1.2%;
  height: 30px;
  /* height: 5%; */
  background-color: rgba(16, 17, 17, 0.5);
}
.circlePurple {
  /* width: 30px;
  height: 30px; */
  width: 2%;
  height: 2%;
  background-color: purple;
  border-radius: 50%;
}
.circleAqua {
  width: 4%;
  height: 4%;
  background-color: aqua;
  border-radius: 50%;
}

.animateIn {
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animateOut {
  animation: fadeOut 1s forwards;
}
.barcelet {
  width: 500px;
  height: 50px;
  background-color: red;
  border-top-left-radius: 20px;
  border-top-right-radius: 5%;
  margin-bottom: 100px;
  /* transform-style: preserve-3d;
    transform: rotateZ(360deg); */
}
.animateParticle {
  animation: particleAnimation 1s forwards;
}
@keyframes particleAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5) rotate(30deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
